USE [master]
GO
/****** Object:  Database [VehixControlDB]    Script Date: 8/2/2025 7:57:41 PM ******/
CREATE DATABASE [VehixControlDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehixControlDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VehixControlDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehixControlDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VehixControlDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehixControlDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehixControlDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[ArticleId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[ArticleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](256) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[IdentificationNumber] [nvarchar](max) NOT NULL,
	[MobileNumber] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[DocumentType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceCaseId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Engines]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Engines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExteriorInspections]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExteriorInspections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RadioAntennaOk] [bit] NOT NULL,
	[BeepersOk] [bit] NOT NULL,
	[SpareTirePresent] [bit] NOT NULL,
	[JackAndWrenchPresent] [bit] NOT NULL,
	[AlarmWorking] [bit] NOT NULL,
	[MirrorCondition] [nvarchar](50) NULL,
	[HoopGame] [nvarchar](50) NULL,
 CONSTRAINT [PK_ExteriorInspections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InteriorInspections]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InteriorInspections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UpholsteryOk] [nvarchar](50) NOT NULL,
	[LighterOk] [bit] NOT NULL,
	[ACFunctionality] [nvarchar](max) NOT NULL,
	[RadioOk] [bit] NOT NULL,
	[RadioSpeakersOk] [bit] NOT NULL,
	[Doorwindows] [nvarchar](50) NOT NULL,
	[Doorlocks] [nvarchar](50) NOT NULL,
	[Carhorn] [nvarchar](50) NOT NULL,
	[RearRightDoorOk] [bit] NOT NULL,
	[ExternalHornOk] [bit] NOT NULL,
	[FloorMatCount] [int] NOT NULL,
	[EmergencyKitOk] [bit] NOT NULL,
 CONSTRAINT [PK_InteriorInspections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCFs]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCFs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NCFType] [nvarchar](max) NOT NULL,
	[StartRange] [int] NOT NULL,
	[EndRange] [int] NOT NULL,
	[CurrentSequence] [int] NOT NULL,
	[VerificationCode] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NCFs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[PersonType] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[DocumentNumber] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[PhotoId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[TakenAt] [datetime2](7) NOT NULL,
	[ExteriorInspectionId] [int] NULL,
	[InteriorInspectionId] [int] NULL,
 CONSTRAINT [PK_Photos] PRIMARY KEY CLUSTERED 
(
	[PhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priorities]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priorities](
	[PriorityId] [int] IDENTITY(1,1) NOT NULL,
	[Level] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Priorities] PRIMARY KEY CLUSTERED 
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationDetails]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationDetails](
	[QuotationDetailId] [int] IDENTITY(1,1) NOT NULL,
	[QuotationId] [int] NOT NULL,
	[ArticleId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_QuotationDetails] PRIMARY KEY CLUSTERED 
(
	[QuotationDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotations]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotations](
	[QuotationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ReceiptType] [nvarchar](max) NOT NULL,
	[ReceiptSeries] [nvarchar](max) NOT NULL,
	[ReceiptNumber] [nvarchar](max) NOT NULL,
	[DateTime] [datetime2](7) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK_Quotations] PRIMARY KEY CLUSTERED 
(
	[QuotationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](256) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleDetails]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetails](
	[SaleDetailId] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NOT NULL,
	[ArticleId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SaleDetails] PRIMARY KEY CLUSTERED 
(
	[SaleDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ReceiptType] [nvarchar](max) NOT NULL,
	[ReceiptSeries] [nvarchar](max) NOT NULL,
	[ReceiptNumber] [nvarchar](max) NOT NULL,
	[DateTime] [datetime2](7) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCases]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehicleReceptionId] [int] NOT NULL,
	[ServiceTypeId] [int] NOT NULL,
	[PriorityId] [int] NOT NULL,
	[EntryDate] [datetime2](7) NOT NULL,
	[EstimatedDeliveryDate] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[CloseDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ServiceCases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[ServiceTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ServiceTypes] PRIMARY KEY CLUSTERED 
(
	[ServiceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockEntries]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockEntries](
	[StockEntryId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ReceiptType] [nvarchar](max) NOT NULL,
	[ReceiptSeries] [nvarchar](max) NOT NULL,
	[ReceiptNumber] [nvarchar](max) NOT NULL,
	[DateTime] [datetime2](7) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_StockEntries] PRIMARY KEY CLUSTERED 
(
	[StockEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockEntryDetails]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockEntryDetails](
	[StockEntryDetailId] [int] IDENTITY(1,1) NOT NULL,
	[StockEntryId] [int] NOT NULL,
	[ArticleId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_StockEntryDetails] PRIMARY KEY CLUSTERED 
(
	[StockEntryDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[DocumentNumber] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleReceptions]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleReceptions](
	[VehicleReceptionId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](max) NOT NULL,
	[ReceptionDate] [datetime2](7) NOT NULL,
	[ReceptionTime] [time](7) NOT NULL,
	[ClientId] [int] NOT NULL,
	[VehicleId] [int] NOT NULL,
	[InteriorInspectionId] [int] NULL,
	[ExteriorInspectionId] [int] NOT NULL,
	[PersonalItems] [nvarchar](max) NOT NULL,
	[Observations] [nvarchar](max) NOT NULL,
	[VisitReason] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_VehicleReceptions] PRIMARY KEY CLUSTERED 
(
	[VehicleReceptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 8/2/2025 7:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleId] [int] IDENTITY(1,1) NOT NULL,
	[ChassisNumber] [nvarchar](max) NOT NULL,
	[BrandId] [int] NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[Year] [int] NOT NULL,
	[Color] [nvarchar](max) NOT NULL,
	[LicensePlate] [nvarchar](max) NOT NULL,
	[Mileage] [nvarchar](max) NOT NULL,
	[FuelType] [nvarchar](max) NOT NULL,
	[EngineId] [int] NOT NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250505231047_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([ArticleId], [CategoryId], [Code], [Name], [SalePrice], [Stock], [Description], [IsActive]) VALUES (4, 3, N'A001', N'Aceite de motor 5W30', CAST(450.00 AS Decimal(18, 2)), 100, N'Aceite sintético para motor', 1)
INSERT [dbo].[Articles] ([ArticleId], [CategoryId], [Code], [Name], [SalePrice], [Stock], [Description], [IsActive]) VALUES (5, 3, N'A002', N'Aceite de transmisión ATF', CAST(500.00 AS Decimal(18, 2)), 70, N'Aceite para transmisión automática', 1)
INSERT [dbo].[Articles] ([ArticleId], [CategoryId], [Code], [Name], [SalePrice], [Stock], [Description], [IsActive]) VALUES (6, 6, N'B001', N'Batería 12V 70Ah', CAST(2800.00 AS Decimal(18, 2)), 40, N'Batería para vehículo mediano', 1)
SET IDENTITY_INSERT [dbo].[Articles] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandId], [Name]) VALUES (1, N'Toyota')
INSERT [dbo].[Brands] ([BrandId], [Name]) VALUES (2, N'Honda')
INSERT [dbo].[Brands] ([BrandId], [Name]) VALUES (3, N'Ford')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [Description], [IsActive]) VALUES (2, N'Repuestos', N'Componentes y piezas utilizadas para el reemplazo o reparación de partes del vehículo.', 0)
INSERT [dbo].[Categories] ([CategoryId], [Name], [Description], [IsActive]) VALUES (3, N'Lubricantes', N'Productos diseñados para reducir la fricción, proteger y mejorar el rendimiento del motor y otros sistemas mecánicos.', 0)
INSERT [dbo].[Categories] ([CategoryId], [Name], [Description], [IsActive]) VALUES (4, N'Mano de Obra', N'Servicios técnicos realizados por el personal del taller, como cambios de aceite, instalación de piezas', 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [FullName], [IdentificationNumber], [MobileNumber], [Email], [Address], [DocumentType]) VALUES (1, N'Juan Pérez', N'001-1234567-8', N'8291234567', N'juan.perez@example.com', N'Calle 1, Santo Domingo', N'Cédula')
INSERT [dbo].[Clients] ([Id], [FullName], [IdentificationNumber], [MobileNumber], [Email], [Address], [DocumentType]) VALUES (2, N'María Gómez', N'002-2345678-9', N'8292345678', N'maria.gomez@example.com', N'Avenida 2, Santiago', N'Cédula')
INSERT [dbo].[Clients] ([Id], [FullName], [IdentificationNumber], [MobileNumber], [Email], [Address], [DocumentType]) VALUES (3, N'Carlos Rodríguez', N'003-3456789-0', N'8293456789', N'carlos.rodriguez@example.com', N'Calle 3, La Vega', N'Cédula')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [ServiceCaseId], [UserId], [Text], [CreatedAt]) VALUES (4, 16, 12, N'Agregar Comentario', CAST(N'2025-06-12T21:18:01.610' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Engines] ON 

INSERT [dbo].[Engines] ([Id], [Name]) VALUES (1, N'Gasoline')
INSERT [dbo].[Engines] ([Id], [Name]) VALUES (2, N'Diesel')
INSERT [dbo].[Engines] ([Id], [Name]) VALUES (3, N'Electric')
SET IDENTITY_INSERT [dbo].[Engines] OFF
GO
SET IDENTITY_INSERT [dbo].[ExteriorInspections] ON 

INSERT [dbo].[ExteriorInspections] ([Id], [RadioAntennaOk], [BeepersOk], [SpareTirePresent], [JackAndWrenchPresent], [AlarmWorking], [MirrorCondition], [HoopGame]) VALUES (17, 1, 1, 1, 1, 1, N'No funcionan', N'Incompleta')
SET IDENTITY_INSERT [dbo].[ExteriorInspections] OFF
GO
SET IDENTITY_INSERT [dbo].[InteriorInspections] ON 

INSERT [dbo].[InteriorInspections] ([Id], [UpholsteryOk], [LighterOk], [ACFunctionality], [RadioOk], [RadioSpeakersOk], [Doorwindows], [Doorlocks], [Carhorn], [RearRightDoorOk], [ExternalHornOk], [FloorMatCount], [EmergencyKitOk]) VALUES (16, N'Malo', 1, N'Hot', 1, 0, N'No funcionan', N'No funcionan', N'Mal', 0, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[InteriorInspections] OFF
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([PersonId], [PersonType], [Name], [DocumentType], [DocumentNumber], [Address], [Phone], [Email]) VALUES (1, N'Cliente', N'Kenlly Novas', N'22900100938', N'Cedula', N'Calle prolognacion duarte ', N'8298477090', N'kenllynovas012@gmail.com')
INSERT [dbo].[People] ([PersonId], [PersonType], [Name], [DocumentType], [DocumentNumber], [Address], [Phone], [Email]) VALUES (2, N'Cliente', N'Juan Perez', N'Cedula', N'00123456789', N'Calle 1', N'8091234567', N'juan.perez@example.com')
INSERT [dbo].[People] ([PersonId], [PersonType], [Name], [DocumentType], [DocumentNumber], [Address], [Phone], [Email]) VALUES (3, N'Cliente', N'Maria Lopez', N'Cedula', N'00123456790', N'Calle 2', N'8091234568', N'maria.lopez@example.com')
SET IDENTITY_INSERT [dbo].[People] OFF
GO
SET IDENTITY_INSERT [dbo].[Photos] ON 

INSERT [dbo].[Photos] ([PhotoId], [FileName], [Url], [Description], [TakenAt], [ExteriorInspectionId], [InteriorInspectionId]) VALUES (1, N'fb036294-a5a4-422a-be99-9b25e0847851_partes-de-un-coche-interior.jpg', N'/uploads/exterior/fb036294-a5a4-422a-be99-9b25e0847851_partes-de-un-coche-interior.jpg', N'Imagen de vehiculo', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 17, NULL)
INSERT [dbo].[Photos] ([PhotoId], [FileName], [Url], [Description], [TakenAt], [ExteriorInspectionId], [InteriorInspectionId]) VALUES (2, N'9edf5760-de61-4015-ba31-c9754b28340e_partes-de-un-coche-interior.jpg', N'/uploads/exterior/9edf5760-de61-4015-ba31-c9754b28340e_partes-de-un-coche-interior.jpg', N'Imagen de vehiculo', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 17, NULL)
INSERT [dbo].[Photos] ([PhotoId], [FileName], [Url], [Description], [TakenAt], [ExteriorInspectionId], [InteriorInspectionId]) VALUES (6, N'47bb1326-4382-4c76-bc21-b90d6d925885_partes-de-un-coche-interior.jpg', N'/uploads/interior/47bb1326-4382-4c76-bc21-b90d6d925885_partes-de-un-coche-interior.jpg', N'Imagen de vehiculo', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, 16)
SET IDENTITY_INSERT [dbo].[Photos] OFF
GO
SET IDENTITY_INSERT [dbo].[Priorities] ON 

INSERT [dbo].[Priorities] ([PriorityId], [Level], [Description]) VALUES (1, N'Baja', N'No requiere atención inmediata')
INSERT [dbo].[Priorities] ([PriorityId], [Level], [Description]) VALUES (2, N'Media', N'Importancia moderada, revisar pronto')
INSERT [dbo].[Priorities] ([PriorityId], [Level], [Description]) VALUES (3, N'Alta', N'Requiere atención urgente')
SET IDENTITY_INSERT [dbo].[Priorities] OFF
GO
SET IDENTITY_INSERT [dbo].[QuotationDetails] ON 

INSERT [dbo].[QuotationDetails] ([QuotationDetailId], [QuotationId], [ArticleId], [Quantity], [Price], [Discount]) VALUES (1, 1, 7, 30, CAST(100.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[QuotationDetails] ([QuotationDetailId], [QuotationId], [ArticleId], [Quantity], [Price], [Discount]) VALUES (4, 3, 5, 50, CAST(60.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[QuotationDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Quotations] ON 

INSERT [dbo].[Quotations] ([QuotationId], [UserId], [ReceiptType], [ReceiptSeries], [ReceiptNumber], [DateTime], [Tax], [Total], [Status], [PersonId]) VALUES (1, 13, N'B01', N'B01', N'456789', CAST(N'2025-08-02T19:10:00.0000000' AS DateTime2), CAST(50.00 AS Decimal(18, 2)), CAST(4800.00 AS Decimal(18, 2)), N'Pendiente', 1)
INSERT [dbo].[Quotations] ([QuotationId], [UserId], [ReceiptType], [ReceiptSeries], [ReceiptNumber], [DateTime], [Tax], [Total], [Status], [PersonId]) VALUES (3, 13, N'B01', N'B01', N'45645', CAST(N'2025-08-02T19:54:40.4331253' AS DateTime2), CAST(30.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), N'Pendiente', 2)
SET IDENTITY_INSERT [dbo].[Quotations] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Name], [Description], [IsActive]) VALUES (1, N'Ventas', N'Acceso completo a todas las funcionalidades', 1)
INSERT [dbo].[Roles] ([RoleId], [Name], [Description], [IsActive]) VALUES (2, N'Mecánico', N'Responsable del mantenimiento de vehículos', 1)
INSERT [dbo].[Roles] ([RoleId], [Name], [Description], [IsActive]) VALUES (3, N'Ventas', N'Encargado del proceso de venta y clientes', 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceCases] ON 

INSERT [dbo].[ServiceCases] ([Id], [VehicleReceptionId], [ServiceTypeId], [PriorityId], [EntryDate], [EstimatedDeliveryDate], [UserId], [Description], [Status], [CloseDate]) VALUES (16, 14, 10, 5, CAST(N'2025-06-20T00:00:00.0000000' AS DateTime2), CAST(N'2025-07-03T00:00:00.0000000' AS DateTime2), 8, N'Descripción', N'En proceso', CAST(N'2025-06-26T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ServiceCases] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceTypes] ON 

INSERT [dbo].[ServiceTypes] ([ServiceTypeId], [Name], [Description]) VALUES (1, N'Cambio de Aceite', N'Sustitución del aceite del motor y filtro')
INSERT [dbo].[ServiceTypes] ([ServiceTypeId], [Name], [Description]) VALUES (2, N'Alineación', N'Alineación de las ruedas del vehículo')
INSERT [dbo].[ServiceTypes] ([ServiceTypeId], [Name], [Description]) VALUES (3, N'Balanceo', N'Balanceo de los neumáticos')
SET IDENTITY_INSERT [dbo].[ServiceTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[StockEntries] ON 

INSERT [dbo].[StockEntries] ([StockEntryId], [SupplierId], [UserId], [ReceiptType], [ReceiptSeries], [ReceiptNumber], [DateTime], [Tax], [Total], [Status]) VALUES (24, 2, 1, N'B01', N'A001', N'0002', CAST(N'2025-07-25T21:58:08.7366667' AS DateTime2), CAST(10.00 AS Decimal(18, 2)), CAST(110.00 AS Decimal(18, 2)), N'Activo')
INSERT [dbo].[StockEntries] ([StockEntryId], [SupplierId], [UserId], [ReceiptType], [ReceiptSeries], [ReceiptNumber], [DateTime], [Tax], [Total], [Status]) VALUES (25, 3, 2, N'B01', N'B002', N'0003', CAST(N'2025-07-25T21:58:08.7366667' AS DateTime2), CAST(0.00 AS Decimal(18, 2)), CAST(90.00 AS Decimal(18, 2)), N'Anulado')
INSERT [dbo].[StockEntries] ([StockEntryId], [SupplierId], [UserId], [ReceiptType], [ReceiptSeries], [ReceiptNumber], [DateTime], [Tax], [Total], [Status]) VALUES (26, 1, 3, N'B01', N'A001', N'0004', CAST(N'2025-07-25T21:58:08.7366667' AS DateTime2), CAST(16.00 AS Decimal(18, 2)), CAST(116.00 AS Decimal(18, 2)), N'Activo')
SET IDENTITY_INSERT [dbo].[StockEntries] OFF
GO
SET IDENTITY_INSERT [dbo].[StockEntryDetails] ON 

INSERT [dbo].[StockEntryDetails] ([StockEntryDetailId], [StockEntryId], [ArticleId], [Quantity], [Price]) VALUES (1, 35, 5, 5, CAST(6.00 AS Decimal(18, 2)))
INSERT [dbo].[StockEntryDetails] ([StockEntryDetailId], [StockEntryId], [ArticleId], [Quantity], [Price]) VALUES (3, 35, 6, 20, CAST(20.00 AS Decimal(18, 2)))
INSERT [dbo].[StockEntryDetails] ([StockEntryDetailId], [StockEntryId], [ArticleId], [Quantity], [Price]) VALUES (4, 35, 12, 60, CAST(500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[StockEntryDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [RoleId], [Name], [DocumentType], [DocumentNumber], [Address], [Phone], [Email], [PasswordHash], [PasswordSalt], [IsActive]) VALUES (1, 1, N'Juan Pérez', N'DNI', N'12345678', N'Calle 123', N'555-1234', N'juan.perez@email.com', 0x1234ABCD, 0x5678EF90, 1)
INSERT [dbo].[Users] ([UserId], [RoleId], [Name], [DocumentType], [DocumentNumber], [Address], [Phone], [Email], [PasswordHash], [PasswordSalt], [IsActive]) VALUES (2, 2, N'María Gómez', N'Passport', N'AA1234567', N'Avenida 456', N'555-5678', N'maria.gomez@email.com', 0x2345BCDE, 0x6789F012, 1)
INSERT [dbo].[Users] ([UserId], [RoleId], [Name], [DocumentType], [DocumentNumber], [Address], [Phone], [Email], [PasswordHash], [PasswordSalt], [IsActive]) VALUES (3, 3, N'Carlos López', N'DNI', N'87654321', N'Calle 789', N'555-8765', N'carlos.lopez@email.com', 0x3456CDEF, 0x7890A123, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleReceptions] ON 

INSERT [dbo].[VehicleReceptions] ([VehicleReceptionId], [OrderNumber], [ReceptionDate], [ReceptionTime], [ClientId], [VehicleId], [InteriorInspectionId], [ExteriorInspectionId], [PersonalItems], [Observations], [VisitReason]) VALUES (14, N'ORD1001', CAST(N'2025-06-11T00:00:00.0000000' AS DateTime2), CAST(N'21:32:00' AS Time), 1, 4, 16, 17, N'Objetos Personales
', N'Observaciones', N'Motivo de Visita
')
SET IDENTITY_INSERT [dbo].[VehicleReceptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleId], [ChassisNumber], [BrandId], [Model], [Year], [Color], [LicensePlate], [Mileage], [FuelType], [EngineId]) VALUES (1, N'CHS001', 1, N'Model X', 2020, N'Rojo', N'PL1234', N'15000', N'Gasolina', 0)
INSERT [dbo].[Vehicles] ([VehicleId], [ChassisNumber], [BrandId], [Model], [Year], [Color], [LicensePlate], [Mileage], [FuelType], [EngineId]) VALUES (2, N'CHS002', 2, N'Model Y', 2019, N'Azul', N'PL5678', N'23000', N'Diesel', 0)
INSERT [dbo].[Vehicles] ([VehicleId], [ChassisNumber], [BrandId], [Model], [Year], [Color], [LicensePlate], [Mileage], [FuelType], [EngineId]) VALUES (3, N'CHS003', 1, N'Model Z', 2021, N'Blanco', N'PL9101', N'10000', N'Gasolina', 0)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ('Cédula') FOR [DocumentType]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ((0)) FOR [EngineId]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_ServiceCases] FOREIGN KEY([ServiceCaseId])
REFERENCES [dbo].[ServiceCases] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_ServiceCases]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_Photos_ExteriorInspections_ExteriorInspectionId] FOREIGN KEY([ExteriorInspectionId])
REFERENCES [dbo].[ExteriorInspections] ([Id])
GO
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_Photos_ExteriorInspections_ExteriorInspectionId]
GO
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_Photos_InteriorInspections_InteriorInspectionId] FOREIGN KEY([InteriorInspectionId])
REFERENCES [dbo].[InteriorInspections] ([Id])
GO
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_Photos_InteriorInspections_InteriorInspectionId]
GO
ALTER TABLE [dbo].[QuotationDetails]  WITH CHECK ADD  CONSTRAINT [FK_QuotationDetails_Articles_ArticleId] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Articles] ([ArticleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuotationDetails] CHECK CONSTRAINT [FK_QuotationDetails_Articles_ArticleId]
GO
ALTER TABLE [dbo].[QuotationDetails]  WITH CHECK ADD  CONSTRAINT [FK_QuotationDetails_Quotations_QuotationId] FOREIGN KEY([QuotationId])
REFERENCES [dbo].[Quotations] ([QuotationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuotationDetails] CHECK CONSTRAINT [FK_QuotationDetails_Quotations_QuotationId]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [fk_Quotations_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [fk_Quotations_Person]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [FK_Quotations_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [FK_Quotations_Users_UserId]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Articles_ArticleId] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Articles] ([ArticleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Articles_ArticleId]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Sales_SaleId] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sales] ([SaleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Sales_SaleId]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [fk_Sales_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [fk_Sales_Person]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Users_UserId]
GO
ALTER TABLE [dbo].[ServiceCases]  WITH CHECK ADD  CONSTRAINT [FK_ServiceCases_Priorities_PriorityId] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[Priorities] ([PriorityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceCases] CHECK CONSTRAINT [FK_ServiceCases_Priorities_PriorityId]
GO
ALTER TABLE [dbo].[ServiceCases]  WITH CHECK ADD  CONSTRAINT [FK_ServiceCases_ServiceTypes_ServiceTypeId] FOREIGN KEY([ServiceTypeId])
REFERENCES [dbo].[ServiceTypes] ([ServiceTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceCases] CHECK CONSTRAINT [FK_ServiceCases_ServiceTypes_ServiceTypeId]
GO
ALTER TABLE [dbo].[ServiceCases]  WITH CHECK ADD  CONSTRAINT [FK_ServiceCases_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceCases] CHECK CONSTRAINT [FK_ServiceCases_Users_UserId]
GO
ALTER TABLE [dbo].[ServiceCases]  WITH CHECK ADD  CONSTRAINT [FK_ServiceCases_VehicleReceptions_VehicleReceptionId] FOREIGN KEY([VehicleReceptionId])
REFERENCES [dbo].[VehicleReceptions] ([VehicleReceptionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceCases] CHECK CONSTRAINT [FK_ServiceCases_VehicleReceptions_VehicleReceptionId]
GO
ALTER TABLE [dbo].[StockEntries]  WITH CHECK ADD  CONSTRAINT [FK_StockEntries_People_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[People] ([PersonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockEntries] CHECK CONSTRAINT [FK_StockEntries_People_SupplierId]
GO
ALTER TABLE [dbo].[StockEntries]  WITH CHECK ADD  CONSTRAINT [FK_StockEntries_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockEntries] CHECK CONSTRAINT [FK_StockEntries_Users_UserId]
GO
ALTER TABLE [dbo].[StockEntryDetails]  WITH CHECK ADD  CONSTRAINT [FK_StockEntryDetails_Articles_ArticleId] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Articles] ([ArticleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockEntryDetails] CHECK CONSTRAINT [FK_StockEntryDetails_Articles_ArticleId]
GO
ALTER TABLE [dbo].[StockEntryDetails]  WITH CHECK ADD  CONSTRAINT [FK_StockEntryDetails_StockEntries_StockEntryId] FOREIGN KEY([StockEntryId])
REFERENCES [dbo].[StockEntries] ([StockEntryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockEntryDetails] CHECK CONSTRAINT [FK_StockEntryDetails_StockEntries_StockEntryId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [dbo].[VehicleReceptions]  WITH CHECK ADD  CONSTRAINT [FK_VehicleReceptions_Clients_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicleReceptions] CHECK CONSTRAINT [FK_VehicleReceptions_Clients_ClientId]
GO
ALTER TABLE [dbo].[VehicleReceptions]  WITH CHECK ADD  CONSTRAINT [FK_VehicleReceptions_ExteriorInspections] FOREIGN KEY([ExteriorInspectionId])
REFERENCES [dbo].[ExteriorInspections] ([Id])
GO
ALTER TABLE [dbo].[VehicleReceptions] CHECK CONSTRAINT [FK_VehicleReceptions_ExteriorInspections]
GO
ALTER TABLE [dbo].[VehicleReceptions]  WITH CHECK ADD  CONSTRAINT [FK_VehicleReceptions_ExteriorInspections_ExteriorInspectionId] FOREIGN KEY([ExteriorInspectionId])
REFERENCES [dbo].[ExteriorInspections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicleReceptions] CHECK CONSTRAINT [FK_VehicleReceptions_ExteriorInspections_ExteriorInspectionId]
GO
ALTER TABLE [dbo].[VehicleReceptions]  WITH CHECK ADD  CONSTRAINT [FK_VehicleReceptions_InteriorInspections] FOREIGN KEY([InteriorInspectionId])
REFERENCES [dbo].[InteriorInspections] ([Id])
GO
ALTER TABLE [dbo].[VehicleReceptions] CHECK CONSTRAINT [FK_VehicleReceptions_InteriorInspections]
GO
ALTER TABLE [dbo].[VehicleReceptions]  WITH CHECK ADD  CONSTRAINT [FK_VehicleReceptions_InteriorInspections_InteriorInspectionId] FOREIGN KEY([InteriorInspectionId])
REFERENCES [dbo].[InteriorInspections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicleReceptions] CHECK CONSTRAINT [FK_VehicleReceptions_InteriorInspections_InteriorInspectionId]
GO
ALTER TABLE [dbo].[VehicleReceptions]  WITH CHECK ADD  CONSTRAINT [FK_VehicleReceptions_Vehicles_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([VehicleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicleReceptions] CHECK CONSTRAINT [FK_VehicleReceptions_Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([BrandId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Brands_BrandId]
GO
USE [master]
GO
